{% extends 'base.html' %}

{% block title %} New Projects {% endblock title %}
{% load static %}

{% block content%}
<section class="manage-section center">
    <h2>Create a new project</h2>

    <form id="project-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.name}}
        {{form.description}}
        {{form.year}}
        {{form.respository}}
        {{form.img}}
        {{form.technologies}}


        <button class="primary-button" type="submit">Create project</button>
    </form>
</section>
{% endblock content %}