{% extends 'base.html' %}

{% block title %}About me{% endblock title %}
{% load static %}

{% block content %}

<section class="about-section">

    <div class="img-container center">
        <img id="about-img" src="{% static './img/logo.png' %}">
    </div>

    <div class="description-container center">

        <div class="center" style="flex-direction: column;">
            <h1>MUX/UI Developer & Front-end Developer</h1>
            <h2>Shane Pooler</h2>
        </div>

        <p>
            Hi, thanks for stopping by my name is Shane Pooler my passion in life is trying to make something boring fun
            although it is easer said then done.
            I am a UX/UI Developer and a Front-end Developer I have a background in Multimedia and Photography. I use
            this background experience to enhance the client
            vision and also advise the client what is practical with emerging technologies and frame works from concepts
            to completion.

        </p>

        <div class="skills-list center">
            <h2>Skills</h2>

            <div class="skills center">
                <label> HTML</label>
                <label> CSS </label>
                <label> JAVA </label>
                <label> JAVASCRIPT </label>
                <label> PYTHON </label>
                <label> FLASK </label>
                <label> DJANGO </label>
                <label> REACT </label>
                <label> NODES JS </label>
            </div>
        </div>
    </div>

</section>

{%endblock content%}