/*Tablet*/
@media(max-width: 1007px) {
    html {
        font-size: 12px;
    }

    /*----About Section -------*/
    .about-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-container {
        margin-bottom: 4rem;
    }

    .description-container {
        width: 100%;
    }

    /*---- Projects Section ----*/
    .project-card {
        width: 100%;
    }

    .project-card a {
        width: 100%;
        flex-direction: column;
        height: min-content;
    }

    .project-card a img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
        object-position: center 50%;
    }

}

/*Mobile*/
@media(max-width: 640px) {
    html {
        font-size: 10px;
    }

    header {
        flex-direction: column;
        height: max-content;
        padding: 2%;
    }

    .nav-Link {
        flex-direction: column;
    }

    .nav-btn {
        display: inline-block;
    }

    /*Toggle function*/
    #nav-check:not(:checked)~.nav-link {
        height: 0px;
        overflow: hidden;
    }

    #nav-check:checked~.nav-link {
        height: auto;
        overflow: auto;
    }

    footer {
        flex-direction: column;
    }

    footer nav {
        height: fit-content;
    }

}